/* This is my stylesheet */
body {
  /* Targets EVERY element in the body. */
  background-color: #ffcc66;
  padding: 10px;
}
header, footer {
  /* Targets elements in the header/footer. */
  font-family:"Times New Roman", Times, serif;
  font-size: x-large;
  background-color: #ff6699;
  height 90px;
  padding: 10px;
  color: #ccff33;
  border-style: double;
  border-color: #660099;
 }
.content{
  width: 100%;
  display: flex;
}
main{

  background-color: #330066;
  border-style: double;
  border-color: #ffcc66;
  width: 61%;
  height: 600px;
  float: left;
}
/*Bottom Graphic*/
.image1{
  height: 200px;
  weight: 200px;
  opacity: 0.85;
}
/*Top Graphic */
.image2{
  height: 200px;
  weight: 200px;
  opacity: 0.95;
}
Aside{
  width: 39%;
  height: 600px;
  background-color: #660099;
  border-style: double;
  border-color: #ffcc66;
  float: right;
}
footer {
   text-align: right !important;
}
