
.parent-container {
   width:469px;
   height:1024px;
   background-color: #FDFDF1;
   color:#303F44;
   padding: 1em;

}

.woman span{
  position: absolute;
  left: 10px;
  text-align:left;
  font-size: 10px;

}

.banner{

}
.top-right-box{

}
.middle-right-box{

}
.middle-left-box{

}
.lower-left-box{
  align-text:left;
}
.lower-right-box{
  allign-content:center;
  border-style:dashed;
  margin: 6em;
  padding: 1em;

}
