
.parent-container {
   width:469px;
   height:1024px;
   background-color: #FDFDF1;
   padding:1em;

}

.woman span{
  position:absolute;
  left:85px;
  top:55px;
  text-align:left;
  font-size:10px;
  color:#303F44;

}

.kids{
  position:absolute;
  top:430px;
}

.filterq{
  position:absolute;
  top: 740px;
  left:0px;
}

.logo{
  position:absolute;
  top:710px;
  left:175px;
}

.guar{
  position:absolute;
  top:825px;
  left:425px;
}
.banner{

}
.top-right-box{
  position:absolute;
  height:300px;
  width:235px;
  left:265px;
  top:110px;



}
.middle-right-box{
  position:absolute;
  height:200px;
  width:235px;
  left:260px;
  top:540px;

}
.middle-left-box{
  position:absolute;
  height:200px;
  width:235px;
  left:5px;
  top:640px;
  padding-left:1em;

}

.lower-left-box{
  position:absolute;
  height:165px;
  width:235px;
  left:0px;
  top:930px;
  padding-left:1em;
  padding-bottom:1em;


}
.lower-right-box{
  background-color:#FDFDF1;
  position:absolute;
  height:165px;
  width:235px;
  left:255px;
  top:-60px;
  border-style:dashed;
  padding-bottom: 1em;


}
